<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aggel.accelerometerapplication">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.aggel.blindlight.Activities.WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.aggel.blindlight.Activities.SettingsActivity"
            android:label="@string/Settings" />
        <activity
            android:name="com.example.aggel.blindlight.Activities.MainActivity"
            android:label="@string/mainLabel" />
        <activity
            android:name="com.example.aggel.blindlight.Activities.HomeActivity"
            android:label="@string/homeLabel"
            android:noHistory="true" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />



        <activity android:name="com.example.aggel.blindlight.Activities.CameraActivity"></activity>

    </application>

</manifest>